<h1>Your ToDo's</h1>

{% if not object_list %}
  <p>No ToDo's yet, add some!</p>
{% else %}
  <ul>
    {% for entry in object_list %}
      <li>{{ entry.content }}</li>
    {% endfor %}
  </ul>
{% endif %}

<hr>
<a href="{% url 'entry-add' %}">Add new ToDo</a>
